body {
  counter-reset: h1 -2;
}
h1 {
counter-reset : h2;
	}
h2 {
counter-reset : h3;
	}
h3 {
counter-reset : h4;
	}
h4 {
counter-reset : h5;
	}

h5 {
counter-reset : h6;
	}

.title:before {
    content : "";
}
h1:before {
    content : counter(h1, decimal) ".";
    counter-increment : h1;
}
h2:before {
    content : "(" counter(h2, decimal) ") ";
    counter-increment : h2;
}

h3:before {
    content : "(" counter(h3, decimal) ") ";
    counter-increment : h3;
}

h4:before {
    content : "(" counter(h4, decimal) ") ";
    counter-increment : h4;
}

.section level1:before {
    content: "";
}
